.nav {
    grid-area: n;
    background-color: aliceblue;
    padding: 20px;
}
.item a {
    color: black;
    text-decoration: none;
}

.item a.active{
    color: gold;
}

.item a:hover {
    color: deepskyblue;
}
