.root {
  display: flex;
  gap: 25px;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style-type: none;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 8px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.pageButton:disabled {
  cursor: default;
}

.pageButton.selected {
  cursor: default;
  background-color: black;
  color: white;
  border-radius: 2px;
}

.pageButton:hover:not(.selected) {
  background-color: rgba(155, 165, 175, 0.9);
  border-radius: 2px;
}

.pageButton:focus {
  border: 2px solid blue;
  border-radius: 2px;
  outline: none;
}

.dots {
  width: 12px;
  height: 24px;
  margin: 0 8px;
  color: black;
}

.item {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  cursor: pointer;
}

.item .Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
}

.item:hover:not(:disabled) {
  background-color: rgba(155, 165, 175, 0.9);
  border-radius: 2px;
}

.item:disabled .Icon {
  fill: rgba(135, 135, 138, 0.9);
}

.item:disabled {
  cursor: default;
}

.select {
  flex-shrink: 0;
  width: 50px;
  height: 25px;
  margin: 0;
  padding: 3px;
}

.selectRoot {
  display: flex;
  gap: 12px;
  align-items: center;
  color: black;
  white-space: nowrap;
}

.SelectItem {
  border-radius: 2px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0;
}