.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;

}

.dialogsItems img {
    width: 45px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}




